.product_widget10 {
  position: relative;
  background: #fff;
  border: 1px solid #ebebeb;
  padding-bottom: 30px;
}

@media (max-width: 767.98px) {
  .product_widget10.mb_55 {
    margin-bottom: 30px;
  }
}

.product_widget10 .thumb {
  background: #f4f4f4;
  overflow: hidden;
  display: block;
}

.product_widget10 .thumb img {
  transform: scale(1);
  transition: 0.3s;
}

.product_widget10 .offer_badge_box {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  grid-gap: 5px;
}
.product_widget10 .offer_badge {
  background: #82ca9c;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 2px;
  padding: 1.5px 7px;
  font-family: "DM Sans", sans-serif;
}

.product_widget10 .offer_badge.New_badge {
  background: #f27001;
  color: #fff;
  text-transform: uppercase;
}

.product_widget10 .product_thumb_upper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.product_widget10 .product_thumb_upper .add_toCart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fd6400;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
}

.product_widget10 .product_thumb_upper .product_action {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
  left: 25px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(50px);
  z-index: 1200;
}

.product_widget10 .product_thumb_upper .product_action a {
  width: 49px;
  height: 45px;
  color: #090b17;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: relative;
}

.product_widget10 .product_thumb_upper .product_action a:hover {
  color: #f27001;
}

.product_widget10
  .product_thumb_upper
  .product_action
  a:not(:last-child)::before {
  height: 15px;
  background: #f1f1f1;
  width: 1px;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.product_widget10:hover .product_thumb_upper .add_toCart {
  transform: translateY(0%);
}

.product_widget10:hover .product_thumb_upper .product_action {
  opacity: 1;
  visibility: visible;
}

.product_widget10 .product__meta .product_banding {
  font-size: 14px;
  font-weight: 500;
  color: #687083;
  display: block;
  margin-bottom: 0px;
}

.product_widget10 .product__meta h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  color: #090b17;
  font-family: "DM Sans", sans-serif;
  transition: 0.3s;
  margin: 9px 0 15px 0;
}
.product_widget10 .product__meta h4:hover {
  color: #f27001;
}

.product_widget10 .product__meta .stars {
  display: flex;
  align-items: center;
  margin: 0;
}

.product_widget10 .product__meta .stars i {
  color: #ffc107;
  font-size: 15px;
}

.product_widget10 .product__meta .stars i:not(:last-child) {
  margin-right: 0px;
}

.product_widget10 .product__meta .product_prise {
  position: relative;
}

.product_widget10 .product__meta .product_prise p {
  font-size: 14px;
  font-weight: 700;
  color: #f27001;
  transition: 0.3s;
}
.product__meta {
  padding: 0 15px;
}
.brand_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
.home9_primary_line {
  border: 0;
  font-size: 14px;
  font-weight: 700;
  color: #f27001 !important;
  font-family: "DM Sans", sans-serif;
  display: inline-block;
  text-transform: uppercase;
}
.product_widget10 .thumb {
  background: #f4f4f4;
  overflow: hidden;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 200px;
}
.product_widget10 .thumb img {
  max-height: 200px;
  max-width: 100%;
}
.home9_primary_btn {
  background: #f27001;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  padding: 18.5px 50px;
  border: 1px solid transparent;
  text-transform: uppercase;
  /* display: inline-block; */
  transition: 0.3s;
  cursor: pointer;
}
.home9_primary_btn:hover {
  color: #f27001;
  border-color: #f27001;
  background: transparent;
}
