.single_cart {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  grid-gap: 10px;
}
.single_cart:first-child {
  border-top: 1px solid #ebebeb;
}
.single_cart .thumb {
  flex: 100px 0 0;
  display: flex;
  align-items: center;
  padding: 10px;
}
.single_cart .thumb img {
  max-width: 100%;
  max-height: 80px;
}
.cart_title {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
}
.product_content h4 {
  font-size: 14px;
  font-weight: 500;
}
