.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product_header {
  margin-bottom: 30px;
}
.product_header h3 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0px;
  text-transform: capitalize;
}
.product_header p {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.product_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  flex: 1 1 0;
}
.section_wrapper {
  display: flex;
  max-width: 1400px;
  margin: auto;
  grid-gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px;
}
.cart_boxes {
  border: 1px solid #e1e2e6;
  flex: 300px 0 0;
}
.cart_boxes {
  border: 1px solid #e1e2e6;
}
.cart_title {
  font-size: 25px;
  text-transform: capitalize;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .product_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .cart_boxes {
    flex: 100% 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .product_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.chose_btns {
  display: flex;
  grid-gap: 10px;
  flex-direction: column;
  padding: 15px;
}

.question_box {
  border: 1px solid #e1e2e6;
  padding: 20px;
  text-align: left;
}
.question_box p,
.question_box h2 {
  text-align: left;
}
.question_box h2 {
  margin-top: 0;
}
.question_box_wrapper {
  max-width: 1400px;
  margin: 30px auto 30px auto;
}
